.container {
  width: 500px;
  padding: 30px;
  border-radius: 8px;
  background-color: rgb(13, 14, 14);
}

.container p {
  color: #c30707;
  font-weight: 600;
}

.header {
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  color: #fff;
}

.flag_and_countryname {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 17px;
  margin-bottom: 25px;
}

.flag_and_countryname img {
  height: 150px;
  width: 250px;
}

.flag_and_countryname h1 {
  color: #fff;
}

.country_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 35px;
  width: 345px;
}

.country_details h5 {
  color: #fff;
  font-size: 15px;
}

.borders {
  color: #fff;
  margin-top: 25px;
}

.countries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  padding-top: 10px;
  padding-top: 10px;
}

.countries .country {
  color: #fff;
  text-decoration: none;
  padding: 7px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(33, 34, 33);
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .country_details {
    flex-direction: column;
    align-items: flex-start;
  }

  .country_details h5 {
    font-size: 14px;
    margin-top: 3px;
    height: auto;
  }

  .countries {
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
  }

  .countries .country {
    font-size: 14px;
  }
}
