.container {
  width: 600px;
  /* height: 100vh; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  background-color: black;
  /* border: solid 1px; */
}

.header {
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  color: #fff;
}

.flag_and_countryname {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /* height: 300px;
  width: 100%; */
  /* border: solid 1px red; */
}

.flag_and_countryname img {
  height: 150px;
  width: 200px;
}

.flag_and_countryname h1 {
  color: #fff;
}

.country_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  /* border: solid 1px red; */
}

.country_details h5 {
  color: #fff;
}

.borders {
  color: #fff;
  margin-top: 15px;
}

.borders_name {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.borders_name .country {
  color: #fff;
  text-decoration: none;
  /* height: 30px; */
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
}
