.searchCard {
  height: 500px;
  width: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  padding-top: 20px;
  border-radius: 8px;
}

.user_input {
  width: 430px;
  height: 40px;
  font-size: 15px;
  margin-top: 15px;
  outline: none;
  border-radius: 17px;
  border: none;
  padding-left: 12px;
  color: rgb(119, 120, 120);
  background-color: rgb(241, 241, 241);
}

.data_container {
  height: 80px;
  width: 100%;
  border: solid 1px;

  img {
    height: 30px;
    width: 100px;
  }
}
